.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.client-active {
    background-color: #3bbc3b;
}

.client-disabled {
    background-color: #a22626;
}

.clickable {
    cursor: pointer;
}

.dt-center {
    text-align: center;
}

.message-box {
    margin-top: 20px;
    font-weight: bold;
}

.success {
    padding-left: 20px;
    background-color: lightgreen;
    color: black;
    border: darkgreen 1px solid;
    border-radius: 5px;
}

.box-error {
    padding-left: 20px;
    background-color: indianred;
    color: black;
    border: darkred 1px solid;
    border-radius: 5px;
}
